.app_green_theme {
    --bg-color: #dbe1e0;
    --inverted-bg-color: #22d6bb;
    --primary-color: #1ebea5;
    --secondary-color: #fff;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #0169ff;
}
